
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0D0D0D;
}

nav {
    margin-top: 20px;
}

nav a {
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    color: #F2F2F2;
    font-size: 20px;
}

.active {
    text-decoration: underline;
    color: #D90404;
}
